
  #home-div .col-md-6{
    padding-left: 20px;
    padding-right: 20px;

  }

  .home-main{


    height: 500px;
  }
    .home-text2-header{

        margin-block-start: 2em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        font-style:revert;;
        font-weight: 700;
        font-family: 'DM Serif Text', serif;
        overflow-wrap: break-word;
        font-size: 20px;
    }
    .home-text { 
    width: 100%;
    height: 100%;
    background-color: #1d1e20;
    opacity: 0.9; 
}
.home-text2{
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    font-style:revert;;
    font-family: 'DM Serif Text', serif;
    overflow-wrap: break-word;
    font-size: 1.0em
}
.home-text h1{
   
    filter: brightness(200%);
    margin: auto;
    width: 62%;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    letter-spacing: normal;
    padding: 10px;   
} 
.home-text h2{
    color: #ffffff;
    padding-top: 10px;
    margin: auto;
    width: 50%;
    font-size: 10px;
}

#home-btn1{
    margin-top: 20px;
    margin-bottom: 20px
    
}
#home-div{ 
    
   margin-top: 20px; 
    border: none;
    
    
}
#home-pic2{width: 80%;
    width: -webkit-fill-available;
    border-radius: 10px;
  
}



.home-grid-3{
    padding: 20px;
}
.home-grid-3-h1{

    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    font-style:revert;;
    font-weight: 700;
    font-family: 'DM Serif Text', serif;
    overflow-wrap: break-word;
    font-size: 39px;
    
}
.home-grid-3-h3{

    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    font-style:revert;;
    /* font-weight: 700; */
    font-family: 'DM Serif Text', serif;
    overflow-wrap: break-word;
    font-size: 1.2em
    
}

  .home-grid-3-pic-1{
    
border-radius: 20px;
}
.home-grid-3-pic-2{
    
    border-radius: 20px;
    }

.home-grid-3-pic-2-div{
    position: relative;
    top: 10px;
    padding-top: 10px;
}
.home-grid-3-pic-1-div{
  width: 40%;
}
.home-grid-3-images{
    display: inline-flex;
    
}
.home-grid-4-main{
margin-top: 30px;
margin-bottom: 30px;
}
.home-grid-4-main .row{
    width: 60%;
    margin: auto;
}
.home-grid-4-main-logo{
    width: 100px;
    margin: 5px;
    padding: auto;
    height: 100px;
   
}

@media only screen and (max-width: 960px) {

    .home-main{

        /* filter: brightness(20%); */
        height: 300px;
      }
    .home-text h1{
       
        width: 100%;
        font-size: 20px;
        text-align: center;
        color: rgb(255, 255, 255);
        letter-spacing: normal;
       
       
    } 
    .home-grid-3{
        display: none;
    }
    #home-pic2{display: none;}
.home-grid-4-main .col-sm{
    width: 100px
}
}

