.navbar {
  width: 100%;
  padding: 10px;

  box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);


}

.navbar ul {
  display: flex;
  width: 100%;

  /* list-style: none;
width: 95%;
text-align: right; */
}

.li-tag {
  margin-right: 5px;
  margin-left: auto;

  justify-content: flex-end;
  display: flex;
  list-style: none;



}

.navbar ul li {


  margin: 10px;
  font-size: 2vw;


}

.navbar ul li:hover {


  border-bottom: 2px solid rgb(19, 18, 18);
  font-size: 2.1vw;


}

.link {

  text-decoration: none;
  color: #0a0a0a;
  font-weight: 500;

}

.linkbtn {

  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5vw;
  background-color: blue;
  border-radius: 1ch;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

.headerWel {
  margin: auto;
  font-weight: 600;
  font-size: 3vw;
}

.nav-img {
  position: absolute;

  left: 10px;

  width: 100px;
  margin-left: 0px;
}


@media screen and (max-width: 960px) {
  .li-tag {
    display: none;
  }
}

.nav-icon {
  position: absolute;
  font-size: xx-large;
  display: block;
  border: none;
  border-radius: 12px;
  background-color: darkblue;
  right: 20px;
}

@media screen and (min-width: 960px) {
  .nav-icon {
    display: none;
  }

  .li-tag-mob {
    display: none;
  }
}

.li-tag-mob {

  list-style: none;
  position: absolute;
  right: 70px;
  top: 30px;
}

.profilename {
  margin-left: 10px;
}


/* Mobile view css */
@media screen and (max-width: 960px) {
  .li-tag {
    display: none;
  }

  .navbar {

    
    height: 90px;

  }

  .nav-icon {
    background-color: black;
    opacity: 90%;
    font-size: 20px;
    margin-top: -14px;
  }

  .li-tag-mob {
    transition: width 2s;
    z-index: 1;
    background: #ffffff;
    opacity: 60%;
    margin-right: -50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

  }
  .nav-img{
    margin-top: -18px;
  }

  .new-nav-mobile-view {
    margin-bottom: 180px;
  }
}