.services-main{

background-image: linear-gradient(-20deg, rgb(13, 27, 43) 0%, #090124 100%);
   width: 100%;
}

.services-heading h1{color: #ffffff;
font-size: 40px;
padding-top: 30px;
padding-bottom: 10px;}

.services-heading h3{color: #ffffff;
font-size: 20px;

padding-bottom: 30px;}

.services-cart-box .container{
    width: 85%;
    padding: 10px;
    margin: auto;
    border: none;
    
}
.services-cart-box h5{
    color: rgb(13, 19, 26);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: auto;
}
.card-img-top{
    width: 80%;
    border-radius: 30px;
    border-radius: inherit;
}
.services-cart-box .card{
    margin:10px ;
    width: 200px;
    text-align: left;
    height: 500px;
    border-radius: 30px;

    box-shadow: rgba(94, 20, 42, 0.2) 0px 7px 29px 0px;
    
}
.services-cart-box p{font-size: 10px;}

.services-cart-box img{
    border-radius: 30px;
    
}

@media only screen and (max-width: 600px) {
    .services-heading h1{color: #ffffff;
        font-size: 1rem;
        padding-top: 30px;
        padding-bottom: 10px;} 

}
.services-cart-box .card{
    margin: auto;
    height: 350px;
    margin-bottom: 20px;
    

    
}