.training-page-main{

}

.training-page-grid-1 .container{
    border: none;
}
.training-page-grid-1 {
   background-color: black;
   opacity: 0.8; 
   margin-bottom: 20px;
   padding-bottom: 20px;

}
.training-page-bg{
    
  
}
.training-page-top-text{
padding-top: 50px;
}
.training-page-grid-1 .container{
   padding-top: 20px;
  
}
.training-page-grid-1 button{
    font-size: 30px;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 20px;
    background: none;
    border: 1px solid white;
  
    
}
.training-page-grid-1 button:hover{
    font-size: 35px;
}
.training-page-grid-1 .row{
   margin-top: 30px;
}
.training-page-top-text h1{
  position: relative;
     width: 60%;
    margin: auto;
    font-size:40px ;
    z-index: 1;
    color: #ffffff;
    
    
   
font-family: 'DM Serif Text', serif;
overflow-wrap: break-word;
letter-spacing: normal;
padding: 10px;    

    
}
.training-page-top-text h5{
    width: 60%;
    margin: auto;
    font-size:20px ;
    color: #ffffff;
   
}
.training-page-top-text .button{
    background: none; 
    border-radius: 1px solid black;
}

.training-page-grid-2-main{
margin: 20px;
}
.training-page-grid-2-main .container{
    border: none;
    text-align: start;
    }
.training-page-grid-2-main .card{
    border: none;
    border-radius: 10px;
    margin: 20px;
    }

.training-page-grid-2-main img{
    margin-bottom: 20px;
height: 400px;
border-radius: 30px;
}
.training-page-grid-2-main .card-body{
   border: none;

}
.training-page-grid-2-main h5{
    font-size: 30px;
    
 }
 .training-page-grid-2-main p{
    font-size: 15px;
    
 }
 .training-page-grid-2-main h1{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10%;
    margin: 30px;

 }


.training-page-grid-3-main .container{
    border: none;
    text-align: start;
    }
.training-page-grid-3-main .card{
    border: none;
    margin: 40px;
    }
.training-page-grid-3-main img{
    margin-bottom: 20px;
    height: 400px;
    border-radius: 30px;
    }
    .training-page-grid-3-main .card-body{
        /* border: 1px solid red; */
        margin-top: 30px;
        
     
     }
     .training-page-grid-3-main h5{
         font-size: 30px;
         
      }
      .training-page-grid-3-main p{
         font-size: 15px;
         
      }